.container {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    justify-content: space-between;
}

.main {
    display: flex;
    flex: auto;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    font-size: 0.8rem;
}

@media only screen and (max-width: 480px) {
    .main {
        font-size: 0.6rem;
    }
}