@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --max-width: 1080px !important;
  --border-radius: 4px !important;
  --colormain: #c8302f !important;
  --hovercolormain: #b32b2a !important;
  --colorsekunder: #ffffff !important;
  --colorthrid: #1A1918 !important;
  --colornotif: #ffdf00 !important;
  --colorbggrey: #777577 !important;
  --colorgrey: #30302f !important;
  --colorbggreyutama: #e7e7e9 !important;

  --colorwa: #137036 !important;
  --hover-colorwa: #137037ef !important;
  font-size: 25px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  border: 0;
}

/* html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  letter-spacing: 0.5px;
} */

body {
  background-color: #E7E7E9;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 0.8rem;
}


button {
  border: 0;
}

tbody,
tr,
th,
td {
  border-bottom: 2px solid #ccc;
  border-collapse: collapse
}



/* SWIPPER */
.swiper {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.swiper-slide {
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.mySwipper2 {
  margin-bottom: 20px;
  background-color: var(--color-grey);
  border-radius: 7px;
  position: relative;
}

.mySwipper2 .swiper-slide {
  height: 400px;
  width: 100%;
}

.mySwipper2 .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.mySwipper {
  display: flex !important;
  flex-wrap: wrap !important;
  width: 525px;
}


.mySwipper .swiper-slide {
  width: 70px !important;
  height: 59px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  cursor: pointer;
}

.mySwipper .swiper-slide:hover {
  border: 3px solid var(--colorthrid);
  transition: all ease 0.1s;
}

.mySwipper .swiper-slide img {
  width: 71px;
  height: 61px;
  object-fit: contain;
  border-radius: 7px;
}

/* .mySwipper .swiper-slide {} */

.mySwipper .swiper-slide-thumb-active {
  width: min-content !important;
  border: 3px solid var(--colorthrid);
}



.swiper-pagination-fraction {
  background-color: var(--colorthrid) !important;
  color: var(--colorsekunder) !important;
  bottom: 10px !important;
  left: 20px !important;
  width: fit-content !important;
  height: fit-content !important;
  position: absolute !important;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 14px;
}




@media only screen and (max-width: 767px) {
  h1 {
    font-size: 0.7rem;
  }

  /* .swiper-slide {
    height: 400px !important;
  } */

  .swiper-slide img {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

}


@media only screen and (max-width: 480px) {
  h1 {
    font-size: 0.7rem;
  }


  .swiper-slide {
    height: 100% !important;
  }

  .swiper-slide img {
    object-fit: contain;
  }


  .mySwipper2 {
    border-radius: 0;

  }

  .mySwipper .swiper-slide {
    border-radius: 0;
  }

  .mySwipper .swiper-slide img {
    border-radius: 0;
  }

}