.bgblack {
    position: fixed;
    top: 0;
    min-height: 100%;
    min-width: 100%;
    background-color: rgb(0, 0, 0);
    opacity: 0.5;
    z-index: 9999;
}

.formContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99991;
    width: 500px;
    border-radius: 10px;
    background-color: #f9f9f9;
    font-size: 0.7rem;
    padding: 30px;
}

.formContainer .judul {
    font-size: 0.8rem;
    font-weight: 700;
    margin-bottom: 20px;
    position: relative;
}

.formContainer .judul .close {
    position: absolute;
    top: 0;
    right: 0;
    color: var(--colormain);
    cursor: pointer;
}

.formContainer input,
.formContainer select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.formContainer label {
    display: flex;
}

.formContainer .error-message {
    color: red;
    font-size: 12px;
    margin-top: -8px;
    margin-bottom: 10px;
}

.er {
    color: red;
}

.formContainer button {
    background-color: var(--colorthrid);
    color: var(--colorsekunder);
    height: 50px;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    border-radius: var(--border-radius);
    margin-top: 10px;
    font-weight: 500;
}

.formContainer button:hover {
    font-weight: 700;
}

@media only screen and (max-width: 767px) {

    .formContainer {
        width: 100%;
        bottom: 0;
        top: auto;
        left: auto;
        transform: none;
    }


}