.atas {
    width: 100%;
    display: flex;
    justify-content: center;
    background: var(--colormain);
    font-size: 0.7rem;
    font-weight: 700;
    color: var(--colorsekunder);
    letter-spacing: 1.2px;
    position: fixed;
    top: 0;
    z-index: 99;
}

.container {
    width: var(--max-width);
    display: grid;
    grid-template-columns: 200px 0.5fr 0.5fr 0.5fr 1fr;
    align-items: center;
    justify-content: center;
    background: var(--colormain);
}

.gambar {
    grid-area: 1/1/1/1;
    width: 200px;
    height: 80px;
    padding: 20px;
    display: flex;
    align-items: center;
}

.gambar img {
    width: 100%;
    object-fit: contain;
    cursor: pointer;
}

.text1 {
    grid-area: 1/2/2/3;
    padding: 0 10px;
    height: 80px;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: relative; */
    overflow: hidden;
}

.ikon {
    position: absolute;
    bottom: -10px;
}

.text2 {
    grid-area: 1/3/2/4;
    padding: 0 10px;
    height: 80px;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text3 {
    grid-area: 1/4/2/5;
    padding: 0 10px;
    height: 80px;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.text4 {
    width: 100%;
    /* align-items: baseline !important; */
    /* background-color: red; */
    grid-area: 1/6/2/7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text4 .cartdesktop {
    padding: 0 10px;
    height: 80px;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
}

.text4 .note {
    padding: 0 10px;
    height: 80px;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
}

.text4 .profil {
    padding: 0 10px;
    height: 80px;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 15px;
}

.text4 .pencarianmobile {
    display: none !important;
    padding: 0 10px;
    height: 80px;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;

}

.text1,
.text2,
.text3 {
    padding: 0 10px;
    font-size: var(--font1)
}

.text1:hover,
.text2:hover,
.text3:hover,
.gambar:hover {
    transition: all ease 0.3s;
    background: var(--hovercolormain)
}

.pencariandeskop {
    grid-area: 1/5/2/6;
    display: flex;
    justify-content: center;
}


.pencarianklik {
    display: none;
}

.notifikasi {
    display: flex;
    justify-content: center;
    font-size: var(--fontnofifmobile);
    background-color: var(--colornotif);
    padding: 15px;
    font-weight: 700;
    color: var(--colorthrid);
    /* position: relative; */
}

.lebarnotif {
    margin-top: 80px;
    width: var(--max-width);
    display: grid;
    grid-template-columns: 1fr 200px;
    align-items: center;
}

.klik {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

.klik a {
    background-color: var(--colorsekunder);
    padding: 5px 10px;
    border-radius: var(--border-radius);
    font-weight: 1000;
}

.klik a:hover {
    transition: all ease 0.2s;
    background-color: var(--hovercolormain);
    color: var(--colorsekunder);
}

.cartmobile {
    display: none;
}

@media only screen and (max-width: 1080px) {

    .dalamkontainer {
        width: 100%;
    }

    .text1,
    .text2,
    .text3 {
        padding: 0 10px;
        font-size: var(--font1mobile)
    }

}


@media only screen and (max-width: 767px) {

    .text1,
    .text2,
    .text3 {
        display: none;
    }

    .lebarnotif {
        grid-template-columns: 1fr 1fr;
    }

    .lebarnotif .text {
        grid-area: 1/1/2/3;
        text-align: center;
    }


    .lebarnotif .klik {
        grid-area: 2/1/3/4;
    }


    .container {
        grid-template-columns: 200px 1fr;
    }


    .pencariandeskop .deskop {
        display: none;
    }

    .pencarianmobile {
        grid-area: 1/2/2/3;
    }


    .text4 .pencarianmobile {
        display: flex !important;
        justify-content: center;
    }

    .text4 {
        grid-area: 1/2/2/3;
        justify-content: flex-end
    }


    .pencarianklik {
        display: block;
        grid-area: 2/1/3/6;
        position: absolute;
        top: 0;
        width: 100%;
        background-color: var(--colormain);
    }


}