.container {
    display: none;
    position: fixed;
    bottom: -1px;
    background-color: var(--colorsekunder);
    z-index: 9999;
    width: 100%;
    font-size: 0.6rem;
    padding: 10px 20px 10px 20px;
    border-top: 1px solid var(--colorbggreyutama);
}

.atas {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.bawah {
    display: flex;
    gap: 10px;
}

.whatsapp {
    width: 100%;
    background-color: var(--colorwa);
    color: var(--colorsekunder);
    text-align: center;
    height: 50px;
    padding: 0 18px;
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
}

.belisekarang {
    width: 100%;
    background-color: var(--colormain);
    color: var(--colorsekunder);
    text-align: center;
    height: 50px;
    padding: 0 18px;
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
}


@media only screen and (max-width: 767px) {
    .container {
        display: block;
    }
}